/**
 * @class Ext.dataview.List
 */

/**
 * @var {color} $list-bg-color
 * Background-color for list rows.
 */
$list-bg-color: #efefef;

$list-color: #333;

$list-active-color: #ffffff;

$list-active-bg-color: #16A085;
