@import 'flat/var/Class';
@import 'flat/var/Button';
@import 'flat/var/Panel';
@import 'flat/var/Sheet';
@import 'flat/var/Toolbar';
@import 'flat/var/dataview/List';
@import 'flat/var/carousel/Carousel';
@import 'flat/var/picker/Picker';

$font-family: "lato", Helvetica, Arial, sans-serif;

@import 'base';

@font-face {
    font-family: "lato";
    src: url('../fonts/lato-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "lato";
    src: url('../fonts/lato-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "lato";
    src: url('../fonts/lato-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}

@import 'flat/mixins/Class';

@include st-loading-spinner(1em, $loading-spinner-color, .1em, .25em);
